设计规则：
关于初始化：
    1.初始化操作包括：
        1.1 读取配置文件参数
            ** cache中的组数S必须>=1,如果后续有需要禁用某个cache，可以给cache增加valid标志位，用于禁用cache。
        1.2 初始化counter block区域,统计内存开销；
        1.3 初始化加密，将内存中全部初始化数据加密为密文；（由MC发起，memmory自身不含有memoryencryption engine）
        1.4 初始化data HMAC区域，统计内存开销；
        1.5 初始化BMT block区域，统计内存开销；
    2.初始化的时间不计入程序运行时间
        不进行统计，只经过测试保证正确性即可，即初始化环节可以省略Sleep（latency)的操作，若代码逻辑与初始化后程序的运行有交叉重叠，也可以
        保留sleep逻辑。此处不是重点。为了初始化操作能够尽早完成，仅与初始化相关的sleep操作应尽量去掉。


   3.初始化加密操作由memory自己发起(该方案弃用，但是思路保留）
        初始化时候针对全内存的加密由memory自身发起，它可以保留一个属于自己encryption对象，用于对自身内存的全加密。这样可以再进行单元测试的
        单独测试memory模块。而初始化以后的加解密操作则由MC包含的encryption对象来执行。
   4. 初始化的加密操作由MC发起。
        初始化步骤中，1，2，5步操作由meory对象对自身发起，而地3，4步由MC对象发起。